<!--Teller View Begin-->
<div ng-controller="TranCtrl">
  <a href=""><strong><i class="glyphicon glyphicon-dashboard"></i> Transfer Tool</strong></a>
  <hr>
  <form class="form-horizontal" role="form">

    <div class="form-group">
      <label class="col-md-5 control-label" style = "color:#16A186"><strong>Transfer Type:</strong></label>
      <div class="col-md-6">
      <div class="btn-group">
          <label class="btn btn-xs btn-primary" ng-model="radioModelType" btn-radio="'Internal'" uncheckable>Internal</label>
          <label class="btn btn-xs btn-primary" ng-model="radioModelType" btn-radio="'External'" uncheckable>External</label>
        </div>
      </div>
    </div>
  </form>
  <div class="row">

    <div class="col-md-3"> </div>
    <!-- beginnig of Same Account -->
    <div class="col-md-6" ng-show="radioModelType=='Internal'">

      <form name="myForm">
        <!-- Added content of transfer view here BEGIN -->

        <br>
        <label style = "color:#16A186"><strong>Internal Transfer</strong></label>
        <br>
        <br>

        <div class="form-group" ng-class="{ 'has-success': !errorAcc  && submitted,
        'has-error': errorAcc && submitted }">
          <label style = "color:#16A186">Account Email</label>
          <input class="form-control" ng-model="user.emailAcc" type="text" placeholder="Email">
        </div>

        <div class="form-group" ng-class="{ 'has-success': !errorType  && submitted,
        'has-error': errorType && submitted }">
          <label style = "color:#16A186">From:</label>
          <select class="form-control"  ng-model="accSelectedFrom" ng-options="   opt for opt in accOptionsFrom">
          </select>
        </div>
        <!-- Amount: <input type="number" class="form-control" ng-model="fromAmount"> -->

        <div class="form-group" ng-class="{ 'has-success': !errorType  && submitted,
        'has-error': errorType && submitted }">
        <label style = "color:#16A186">To:</label>

            <select class="form-control" ng-model="accSelectedTo" ng-options="   opt for opt in accOptionsTo">
            </select>
        </div>

        <div class="form-group" ng-class="{ 'has-success': !errorAmt  && submitted,
        'has-error': errorAmt && submitted }">
        <label style = "color:#16A186">Amount:</label>
        <input type="text" ng-model="user.amountAcc" placeholder="0.00" class="form-control" />
        </div>
        <br>
        <button type="button" class="btn btn btn-success pull-right" data-toggle="modal" data-target=".sameTransfer-modal-sm">Submit</button>
        <br>
      </form>
    </div>

<!-- END of Same Account  -->


<!-- Beginning of Different Account  -->

    <!-- Left Column BEGIN-->
    <div class="col-md-6" ng-show="radioModelType=='External'"><!-- col-md-12 BEGIN -->
      <form name="myForm">
        <!-- Added content of transfer view here BEGIN -->
        <br>
        <label style="color:#16A186"><strong>External Transfer</strong></label>
        <br>
        <div class="form-group" ng-class="{ 'has-success': !errorFrom  && submitted,
        'has-error': errorFrom && submitted }">
        </br>
          <label style="color:#16A186">From:</label>
          <input class="form-control" ng-model="user.emailFrom" type="text" placeholder="Email">
        </div>
        <br>
        <!-- Amount: <input type="number" class="form-control" ng-model="fromAmount"> -->
        <div class="form-group" ng-class="{ 'has-success': !errorTo  && submitted,
        'has-error': errorTo && submitted }">
        <label style = "color:#16A186">To:</label>
        <input class="form-control"  type='email' ng-model="user.emailTo"  placeholder="Email" required>
        </div>

        </br>
        <div class="form-group" ng-class="{ 'has-success': !errorAmount  && submitted,
        'has-error': errorAmount && submitted }">
        <label style = "color:#16A186">Amount:</label>
        <input type="text" ng-model="user.amount" placeholder="0.00" class="form-control" />
        </div>
        <br>
        <button type="button" class="btn btn btn-success pull-right" data-toggle="modal" data-target=".transfer-modal-sm">Submit</button>
        <br>
      </form>
      <!-- <pre>FROM: {{user.emailFrom}} <br>{{!!myForm.$error.email}} <br>{{!!myForm.$error.required}} <br>AMT: {{user.amount}}</pre> -->
    </div>
    <!-- Beginning of Different Account  -->
    <!-- Left Column END-->

    <div class="col-md-1"></div>

    <!-- Right Column BEGIN-->
    <div class="col-md-4">

      <!-- Added content of transfer view here End -->
    </div>
    <!-- Right Column END-->

  </div><!--/row-->
  <br>
  <div ng-show="errorType" class="alert alert-danger" role="alert">Cannot transfer to the same account type!</div>
  <hr>
<!--   <pre>{{users.emailAcc | json}}</pre> -->



<!-- Same Account Transfer Modal -->
  <div class="modal fade sameTransfer-modal-sm" tabindex="-1" role="dialog" aria-labelledby="historyModal" aria-hidden="true">
    <br>
    <br>
    <br><br>
    <br>
    <br><br>

    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="historyModal">Confirm Transfer?</h4>
        </div>

        <div class="modal-body">

          <div class="row">

            <div class="col-md-6">
              <hr>
              <strong>Account Email:</strong> {{user.emailAcc}}
              <br>
              <strong>From: </strong> {{accSelectedFrom}}
              <br>
              <strong>To: </strong> {{accSelectedTo}}
              <br>
              <strong>Amount: </strong>  {{user.amountAcc | currency}}
              <br>

            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal" ng-click="confirmAcc()">Confirm</button>
          <button class="btn btn-default pull-right" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
    </div>



  <!-- Different Account Transfer Modal-->
  <div class="modal fade transfer-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <br>
    <br>
    <br><br>
    <br>
    <br><br>

    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabel">Confirm Transfer?</h4>
        </div>

        <div class="modal-body">

          <div class="row">

            <div class="col-md-6">
              <hr>
              <strong>From Account </strong> {{user.emailFrom}}
              <br>
              <strong>To Account: </strong> {{user.emailTo}}
              <br>
              <strong>Amount: </strong>  {{user.amount | currency}}
              <br>

            </div>


            <!-- <div class="col-md-6">

              <h5>To:</h5>
              <hr>
              <strong>Account: </strong> Checking
              <br>
              <strong>Account Name: </strong> User0
              <br>
              <strong>Amount: </strong>  $$$$
              <br>
              <pre>All: {{errorFlag}}</pre>
              <pre>From: {{errorFrom}}</pre>
              <pre>To: {{errorTo}}</pre>
            </div> -->

          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal" ng-click="confirm()">Confirm</button>
          <button class="btn btn-default pull-right" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
    </div>
</div><!-- ng-controller div -->
<!--Teller View End-->
