<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <!-- <button ng-click="deposit(user,1000)" class="btn btn-lg btn-primary" type="button">Increment</button> -->
        <a ng-click="delete(user.name,user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>

  <div ng-init="transaction={
    debit: 1234,
    credit: 5678,
    description: 'Initial Description'}">
  </div>

  <div class="form-group">
    <label class="control-label"><strong>Description</strong></label>
    <input type="text" class="form-control" ng-model="transaction.description">
    <label class="control-label"><strong>Credit</strong></label>
    <input type="number" class="form-control" ng-model="transaction.credit">
    <label class="control-label"><strong>Debit</strong></label>
    <input type="number" class="form-control" ng-model="transaction.debit">
  </div>
  <button class="btn btn-primary pull-right" ng-click="sendData('test0@test.com',transaction)">Push</button>

</div>
