<!--MyAccount View-->

<a href=""><strong><i class="glyphicon glyphicon-dashboard"></i> My Account</strong></a>
<hr>
<div class="row" ng-controller="AccountCtrl as acc">
  <!-- center left-->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div ng-if="acc.getCurrentUser().checking < 0">
          <h6>Checking Balance:
            <font color="red">
              {{acc.getCurrentUser().checking | currency}}
            </font>
          </h6>
        </div>
        <div ng-if="acc.getCurrentUser().checking >= 0">
          <h6>Checking Balance:
            <font color="#339999">
              {{acc.getCurrentUser().checking | currency}}
            </font>
          </h6>
        </div>
      </div>
    </div><!--/panel-->

    <!--/tabs-->
<!-- <div class="modal-body" ng-model="currentCheck=acc.getCurrentUser().checking.checkTransactions"> -->
  <button class="btn btn-xs btn-primary" ng-click="toggle = !toggle">
    <div ng-if="toggle">Show Statement</div>
    <div ng-if="!toggle">Hide Statement</div>
  </button>
      <hr>
  <div collapse="toggle">
     <div class="well well-lg">
        <table class="table table-striped">
          <thead>
            <tr><th>Date</th>
              <th>Description</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Balance</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="tran in acc.getCurrentUser().checkTransactions | orderBy : date : reverse" >
                <td>{{tran.date | date:'MM/dd/yyyy'}}</td>
                <td>{{tran.description}}</td>
                <td>{{tran.debit}}</td>
                <td>{{tran.credit}}</td>
                <td>{{tran.balance}}</td>
                <!-- <td>{{acc.getCurrentUser().checkTransactions}}</td> -->

              </tr>
            </tbody>
          </table>
      </div>
  </div>

  </div><!--/col-->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div ng-if="acc.getCurrentUser().saving < 0">
          <h6>Savings Balance:
            <font color="red">
              {{acc.getCurrentUser().saving | currency}}
            </font>
          </h6>
        </div>
        <div ng-if="acc.getCurrentUser().saving >= 0">
          <h6>Savings Balance:
            <font color="#339999">
              {{acc.getCurrentUser().saving | currency}}
            </font>
          </h6>
        </div>
      </div>
    </div>
<!-- toggle collapse starts -->

      <button class="btn btn-xs btn-primary" ng-click="isCollapsed = !isCollapsed">
        <div ng-if="!isCollapsed">Show Statement</div>
        <div ng-if="isCollapsed">Hide Statement</div></button>
      <hr>
      <div collapse="!isCollapsed">
        <div class="well well-lg">
         <!--  Some content -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>Balance</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="tran in acc.getCurrentUser().savTransactions | orderBy : date : reverse" >
                  <td>{{tran.date | date:'MM/dd/yyyy'}}</td>
                  <td>{{tran.description}}</td>
                  <td>{{tran.debit}}</td>
                  <td>{{tran.credit}}</td>
                  <td>{{tran.balance}}</td>
                </tr>
                </tbody>
              </table>
        </div>
      </div>


    </div><!--/col-span-6-->
  </div><!--/row-->
<!-- </div> -->
  <hr>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-danger" ng-click="confirm()">Confirm</button>
        <button class="btn btn-default" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MyAccount View End -->
