<!--Teller View Begin-->
<a href=""><strong><i class="glyphicon glyphicon-dashboard"></i> Tellering Tool</strong></a>
<hr>
<div class="row">
<!-- Added content of teller view here Begin -->

 <div ng-init="transactions = [
    {no:'2',customer: 'user2',balance: '$1000594235'},
    {no:'1',customer: 'user1',balance: '$2324234234'}

    ]">
  </div>
  <table class="table table-striped">
    <thead>
      <tr><th>No</th>
        <th>Customer</th>
        <th>Account</th>
        <th>Transaction</th>
        <th>Amount</th>
        <th></th>
        <th>Balance</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="tran in transactions | orderBy:reverse" >
          <td>{{tran.no}}</td>
          <td>{{tran.customer}}</td>
          <td><form method="post">
                  <select name="Account Types">
                    <option value="Checking Account">Checking Account</option>
                    <option value="Saving Account">Saving Account</option>
                  </select>
                </form></td>
          <td><form method="post">
              <select name="Transaction">
                    <option value="Deposit">Deposit</option>
                    <option value="Withdrawal">Withdrawal</option>
                    <option value="Transfer" data-toggle="modal" data-target=".bs-example-modal-sm">Transfer</option>
                    <!--<button onclick="window.open('http://www.google.com','name','width=200,height=200');">Open</button>-->





                  </select>
                </form></td> 

          <td><div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon" style="height:30px">$</div>
                  <input class="form-control" placeholder="0.00" type="deposit" 
                  style="height:36px">
                </div>
            </div></td>
          <!--<td><input type="text" style="width: 150px"></td>-->
          <td><button class="btn btn-xs btn-primary">Submit</button>
          </td>
          <td>{{tran.balance}}</td>         
          <td><button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm">Close Account</button></td>
        </tr>
      </tbody>
    </table>
<!-- closing Account-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

        <div class="modal-header">          
          <h4 class="modal-title" id="mySmallModalLabel">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <button class="btn btn-danger" ng-click="confirm()">Confirm</button>
            <button class="btn btn-default" type="button" class="close" data-dismiss="modal"><span aria-hidden="true"">Cancel</button>
        </div>
      </div>
    </div>
  </div>


<!-- Added content of teller view here End -->
</div><!--/row-->
<hr>
<!--Teller View End-->
