.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

video#bgvid {
    position: fixed; right: 0; top: 0;
    min-width: 100%; min-height: 720px;
    width: auto; height: auto; z-index: -100;
	background: url(http://img.wallpaperstock.net:81/cute-cat-wallpapers_34549_1280x720.jpg) no-repeat;
	background-size: cover;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.footer-2 {
    background-color: rgba(44, 62, 80, 0.6);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.features {
    padding-top: 0px;
    padding-bottom: 300px;
    width: 100%;
    bottom: 0;
    margin-bottom: -20px;
}