.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/*background video*/
video#bgvid {
    position: fixed; right: 0; top: 0;
    min-width: 100%; min-height: 720px;
    width: auto; height: auto; z-index: -100;
	background: url(http://img.wallpaperstock.net:81/cute-cat-wallpapers_34549_1280x720.jpg) no-repeat;
	background-size: cover;
}

/*git whiskey gif*/
.bgcinema {
    position: relative; right: 0;
    min-width: 100%; min-height: 720px;
    width: auto; height: auto; z-index: -99;
    background: url(http://i.imgur.com/gOZSs.gif);
    background-size: cover;
}

.bgcinema .container {
    margin-left: auto;
    margin-right: auto;
    top: 15vh;
    height: 60vh;
    width: 75vw;
}

/*primary box for gif text*/
.bgcinema .container .minibox {
    height: auto;
    width: 25vw;
    float: left;
}

.bgcinema .container .minibox h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 4.2vh;
    color: #ededed;
    margin-bottom: 0;
}

.bgcinema .container .minibox h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 3vh;
    color: #ededed;
    margin-top: 0;
    margin-bottom: 0;
}

.bgcinema .container .minibox hr {
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align:left;
    position: relative;
    border-color: rgba(255, 255, 255, 0.5);
    width: 25vw;
}

.bgcinema .container .minibox h3 {
    font-family: "Open Sans", sans-serf;
    font-weight: 300;
    font-size: 2vh;
    color: #ededed;
    float: left;
}

.bgcinema .container .minibox i {
    font-size: 4vh;
    color: #ededed;
    margin-right: 2vw;
    margin-top: 0;
    float: left;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.footer-2 {
    background-color: rgba(44, 62, 80, 0.6);
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.56vh;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/*marketing features*/
.features {
    background-color: #e0e0e0;
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
    width: 100%;
    bottom: 0;
    margin-bottom: 0px;
}

.features h2 {
    font-size: 2.4vw;
    color: #000;
    margin-bottom: 15px;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}

.features p {
    font-size: 1.5vw;
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}


.features .container {
    width: 89vw;
    height: 29vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/*blocks for each of the three features*/
.features .container .featblock {
    float: left;
    width: 22vw;
    height: 29vh;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #000;
    margin-left: 3vw;
    margin-right: 3vw;
}

.featblock h1 {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 100;
    font-size: 1.8vw;
    color: #000;
}

.featblock h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.1vw;
    color: #000;
}

.featblock i {
    font-size: 3.3vw;
    color: #153054;
}

.collist {
    width: 60vw;
    height: 10px;
    margin-left: 25vw;
    padding-left: 10vw;
    margin-top: 10vh;
}
.collist h1 {
    margin-top: -13vh;
    font-size: 2.6vw;
    color: #fff;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}

.collist h2 {
    margin-left: 15vw;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    color: #fff;
    text-align: left;
    padding-top: 20px;
}

.collist h2 i {
    padding-right: 50px;
}

.collist h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 1vw;
    color: #fff;
    text-align: center;
    margin-top: -15px;
}

.header-11-sub {
  padding-top: 70px;
  padding-bottom: 80px;
  color: #bdc3c7;
  position: relative;
}

/*custom responsive code for mobile*/
@media (orientation: portrait) {
    .collist {
        width: 0;
        height: 0;
    }

    .collist h1 {
        font-size: 0;
        margin: 0;
    }

    .collist h2 {
        font-size: 0;
        margin: 0;
    }

    .collist h4 {
        font-size: 0;
        margin: 0;
    }

    .collist h2 i {
        font-size: 0;
        margin: 0;
    }
    .header-11-sub .transparent_overlay_box {
        width: 60vw;
        height: 70vh;
    }

    .features {
        padding-bottom: 0;
    }

    .features h2 {
        font-size: 4vw;
    }

    .features p {
        font-size: 2.5vw;
    }

    .features .container .featblock {
        height: 20vh;
        width: 25vw;
        margin-left:1vw;
        margin-right:1vw;
    }

    .featblock h1 {
        font-size: 2.6vw;
    }

    .featblock h2 {
        font-size: 2.1vw;
    }

    .featblock i {
        font-size: 5vw;
    }

    .bgcinema {
        min-height: auto;
    }

    .bgcinema .container .minibox {
        height: auto;
        width: 75vw;
        float: left;
        margin-top: -8vh;
    }
    .bgcinema .container .minibox h1 {
        font-size: 4.2vh;
        margin-bottom: 0;
    }

    .bgcinema .container .minibox h2 {
        font-size: 2.5vh;
        margin-top: 0;
        margin-bottom: 0;
    }

    .bgcinema .container .minibox hr {
        margin-top: 3vh;
        margin-bottom: 3vh;
        text-align:left;
        position: relative;
        width: 75vw;
    }

    .bgcinema .container .minibox h3 {
        font-size: 2vh;
        float: left;
    }

    .bgcinema .container .minibox i {
        font-size: 4vh;
        margin-right: 2vw;
        margin-top: 0;
        float: left;
    }

    .navbar .navbar-header {
        width: 80vw;
        height: 2.5vh;
    }

    .navbar .pull-right {
        float:left !important;
        top: 0;
        margin-top: -3vh;
    }

    .header-11 .navbar .navbar-form {
        margin-top: -3vh;
        width: 90vw;
        padding-top: 0;
        padding-left: 5vw;
    }

    .header-11 .navbar .navbar-form .form-group {
        margin-bottom: 1px;
    }

    .header-11 .navbar .navbar-form .form-control {
        height: 2.5vh;
        font-size: 2vw;
        width: 50vw;
    }

    .header-11 .navbar .navbar-form .btn-primary {
        float: left;
        margin-top: -5vh;
        margin-left: 53vw;
        line-height: 1.5vh;
    }

    .header-11 .navbar .navbar-form .btn-danger {
        float: left;
        margin-left: 66vw;
        margin-top: -5vh;
        line-height: 1.5vh;
    }

    .signup-form .form-control {
        height: 4vh;
        margin: 0;
    }

    .signup-form .form-group {
        margin-bottom: 1vh;
    }

    .signup-form .btn {
        height: 4vh;
        font-size: 2vh;
    }
}