.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

video#bgvid {
    position: fixed; right: 0; top: 0;
    min-width: 100%; min-height: 720px;
    width: auto; height: auto; z-index: -100;
	background: url(http://img.wallpaperstock.net:81/cute-cat-wallpapers_34549_1280x720.jpg) no-repeat;
	background-size: cover;
}

.bgcinema {
    position: relative; right: 0;
    min-width: 100%; min-height: 720px;
    width: auto; height: auto; z-index: -99;
    background: url(http://i.imgur.com/gOZSs.gif);
    background-size: cover;
}

.bgcinema .container {
    margin-left: auto;
    margin-right: auto;
    top: 15vh;
    height: 60vh;
    width: 75vw;
}

.bgcinema .container .minibox {
    height: auto;
    width: 25vw;
    float: left;
}

.bgcinema .container .minibox h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #ededed;
    margin-bottom: 0;
}

.bgcinema .container .minibox h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 25px;
    color: #ededed;
    margin-top: 0;
    margin-bottom: 0;
}

.bgcinema .container .minibox hr {

}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.footer-2 {
    background-color: rgba(44, 62, 80, 0.6);
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.features {
    background-color: #e0e0e0;
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
    width: 100%;
    bottom: 0;
    margin-bottom: 0px;
}

.features h2 {
    font-size: 33px;
    color: #000;
    margin-bottom: 15px;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}

.features p {
    font-size: 20px;
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}


.features .container {
    width: 1220px;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.features .container .featblock {
    float: left;
    width: 300px;
    height: 225px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #000;
    margin-left: 35px;
    margin-right: 35px;
}

.featblock h1 {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: #000;
}

.featblock h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #000;
}

.featblock i {
    font-size: 45px;
    color: #153054;
}

.collist {
    width: 450px;
    height: 475px;
    margin-left: 200px;
}
.collist h1 {
    margin-top: -50px;
    font-size: 2.6vw;
    color: #fff;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}

.collist h2 {
    margin-left: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    color: #fff;
    text-align: left;
    padding-top: 20px;
}

.collist h2 i {
    padding-right: 50px;
}

.collist h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 1vw;
    color: #fff;
    text-align: center;
    margin-top: -15px;
}
