.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;

}

footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}

@media(min-width:768px) {
    .col-sm-3 {
      width: 20%;
    }
    .col-sm-9 {
      padding-top: 25px;
    }
    .side-nav {
        position: relative;
        top: -30px;
        left: -36px;
        width: 100%;
        height: 100vh;
        margin-left: 0px;
        margin-bottom: -50px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #2c3e50;
    }

    .side-nav>li>a {
        width: 300px;
        padding-left: 15%;
        text-align: left;
        font-size: 20px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: 200;
    }

    .side-nav>li>a>i {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }

    
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #FFF !important;
    }

    .side-nav>li a:active {
        background-color: #FFF !important;
        color: #2c3e50;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
  overflow-y: auto;
}



@media (min-width: 768px) {
  .navbar-nav{
    margin-top: 10px;
  }
  .navbar-inverse .navbar-header {
  font-family: "Lato", Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
}
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-nav > li {
    padding-top: 0px;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

.navbar-nav>.active>a {
  color: #fff;
  background-color: #34495e;
}

